
/* Common Style  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Header Section  */
.main_container {
    background-color: black;
    width: 90%;
    display: flex;
    margin: 20px auto;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}

.text_cotainer {
    width: 50%;
    margin-left: 100px;
}

.image_container {
    width: 50%;
}

.image_container img {
    width: 80%;
    display: block;
    margin: 0 auto;
    transition: .7s ease-in-out;
}

.image_container img:hover {
    transform: translate(50px);
}

.title_text {
    font-size: 80px;
    font-weight: bold;
    color: white;
}

.para {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 18px;
    color: white;
}

.watch_button {
    background-color: red;
    padding: 10px 30px;
    border-radius: 10px;
    color: white;
    font-size: 25px;
    border: none;
}
/* End Header Section  */

/* Blog Section  */
.live_container {
    display: flex;
    width: 90%;
    margin: 100px auto;
}

.live_section {
    width: 25%;
    background-color: black;
    height: 30vh;
    margin-right: 20px;
    border-radius: 10px;
}

.third_container {
    width: 75%;
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.transfer_time {
    display: flex;
    align-items: center;
}

.clock {
    margin-right: 30px;
}

.upcoming {
    width: 80%;
    margin: 10px auto;
}

.upcomung_button {
    width: 100%;
    padding: 15px 0;
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    border: none;
}

.upcomung_button a {
    text-decoration: none;
    color: black;
}

.all_button {
    width: 100%;
    padding: 15px 0;
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    border: none;
}

.blog_button {
    width: 100%;
    padding: 15px 0;
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    background-color: red;
    color: white;
    border: none;
}

.transfer_section {
    border: 1px solid rgba(232, 232, 232, 1);
    margin-bottom: 20px;
    border-radius: 10px;
}

.transfer_container {
    margin-left: 20px;
    margin-bottom: 20px;
}

.transfer_section img {
    width: 100%;
}

.transfer {
    outline: none;
    border: 1px solid rgba(22, 22, 22, 1);
    background-color: white;
    color: black;
    padding: 10px 25px;
    border-radius: 5px;
    font-size: 17px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.transfer_text {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.transfer_time p {
    font-size: 18px;
    color: rgba(22, 22, 22, 0.7);
}

.view-button {
    display: none;
}
/* End Blog Section  */

/* Match Section  */
.match_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.match_container img {
    width: 35%;
    margin-left: 15px;
    margin-right: 15px;
}

.match_section {
    padding: 20px;
}

.match_time h4 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

.match_time p {
    text-align: center;
    font-size: 14px;
}

.upcomung_new_button {
    width: 100%;
    padding: 15px 0;
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    background-color: red;
    color: white;
}

.blog_new_button {
    width: 100%;
    padding: 15px 0;
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
}
/* End Match Section */

/* Footer Section  */
.footer_container ul {
    display: flex;
    justify-content: center;
}

.footer_container ul li {
    list-style: none;
    margin-right: 50px;
    color: #B9B9B9;
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer_break {
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 80%;
    margin: 0 auto;
}

footer {
    background-color: black;
}

footer h1 {
    text-align: center;
    color: white;
    margin-bottom: 50px;
    padding-top: 130px;
}

.social-media ul {
    display: flex;
    align-items: center;
    justify-content: center;
}  

.social-media ul li {
    text-decoration: none;
    list-style: none;
    margin-right: 50px;
}

.social-media ul li a {
    font-size: 30px;
    color: white;
}
/* End Footer Section  */


/* Responsive For Mobile */

@media screen and (max-width: 600px) {

    .main_container {
        width: 100vw;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .text_cotainer {
        width: 100%;
        margin-left: 0;
    }
    
    .title_text {
        text-align: center;
        font-size: 40px;
    }
    
    .para{
        text-align: center;
        font-size: 18px;
    }

    .button {
     width: 65%;
     margin: 0 auto;
    }

    .upcomung_button, .all_button {
        border: 1px solid rgb(1, 29, 29);
    }
    
    .watch_button {
        width: 50%;
        display: block;
        margin: 0 auto;
    }

    .image_container {
        margin-top: 50px ;
        width: 100%;
    }

    .image_container img {
        width: 100%;
    }

    .live_container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .live_section {
        width: 100%;
        background-color: white;
        margin-bottom: 50px;
        height: 30vh;
    }

    .third_container {
        width: 100%;
        display: grid; 
        grid-template-columns: repeat(1, 1fr);
    }

    .view-button {
        width: 20%;
        padding: 15px 0;
        display: block;
        margin: 100px auto;
        font-weight: bold;
        font-size: 20px;
        border-radius: 10px;
        background-color: red;
        color: white;
        border: none;
    }

    .footer_container ul {
        display: flex;
        flex-direction: column;
    }

    .footer_container ul li {
        list-style: none;
        text-align: center;
        margin-bottom: 10px;
    }
}

/* Tablte Responsive  */

@media screen and (min-width:600px) and (max-width:990px) {

    .main_container {
        background-color: black;
        width: 100%;
        display: flex;
        margin: 20px auto;
        border-radius: 20px;
        align-items: center;
        justify-content: center;
    }

    .title_text {
        font-size: 30px;
        font-weight: bold;
        color: white;
        margin-top: 50px;
    }
    
    .para {
        margin-top: 20px;
        margin-bottom: 30px;
        font-size: 15px;
        color: white;
    }

    .watch_button {
        background-color: red;
        padding: 10px 30px;
        border-radius: 10px;
        color: white;
        font-size: 25px;
        margin-bottom: 50px;
    }
    
    .upcomung_button, .all_button {
        border: 1px solid rgb(1, 29, 29);
    }

    .upcomung_new_button {
        width: 90%;
    }
  
    .live_container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .live_section {
        display: flex;
        width: 95%;
        background-color: white;
        height: 20vh;
        margin: 0 auto;
    }

    .upcomung_button {
        width: 90%;
    }
    
    .all_button {
        width: 90%;
    }
    
    .blog_button {
        width: 100%;
    }

    .third_container {
        width: 100%;
        display: grid; 
        grid-template-columns: repeat(2, 1fr);
    }

    .view-button {
        width: 20%;
        padding: 15px 0;
        display: block;
        margin: 100px auto;
        font-weight: bold;
        font-size: 20px;
        border-radius: 10px;
        background-color: red;
        color: white;
        border: none;
    }

    .footer_container ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .footer_container ul li {
        list-style: none;
        text-align: center;
        margin-bottom: 10px;
    }
}
